# Testing
!jest.config.js
*.d.ts

# Node Modules
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment Variables
.env

# Deployment Directory
deploy/

# Standards (may not apply)
*.log
build/
dist/

# Personal Utility Files
getIds.js